.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}


.container {
    display: flex;
    flex-wrap: wrap;
    width: 480px; /* Adjust the container width as needed */
}

.square {
    width: 6.25%; /* 6.25% width for 16 items per row */
    height: 30px; /* Adjust the height as needed */
    background-color: #ccc; /* Adjust the background color as needed */
    border: 1px solid #000; /* Add a border if desired */
    box-sizing: border-box; /* Include padding and border in element's total width */
}

.color{
    background-color: blue;
}